<ion-content>
 <ion-sliders pager="true">
   <ion-slide class="slide-one">
     <ion-img src="/assets/icon/favicon.png"></ion-img>
     <h1>Ionic 5</h1>
     <p class="labelinfo">
       CRUD com login e registros<br/>
       <span>Para ajudar nas dificuldades</span>
     </p>
   </ion-slide>
   <ion-slide class="slide-two">
    <ion-img src="/assets/icon/favicon.png"></ion-img>
    <h1>Ionic 5</h1>
    <p class="labelinfo">
      CRUD com login e registros<br/>
    </p>
    <ion-button color="success" (click)="openLogin()">Fazer login</ion-button>
  </ion-slide>
 </ion-sliders>
</ion-content>
